<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    {{> header}}
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{screamIt welcomeMessage}}</p> <!-This shows the general homepage in the webserver and functions like scream are dynamically added  ->
    {{> footer}}
  </body>

</html>
